<div id="sidebar_filament_sensor" data-bind="visible: show_status">
  <i class="icon-info-sign"></i> <br/>
  alarm: <b><span data-bind="text: alarm"></span></b> <br/>
  spool weight: <span data-bind="text: weight"></span> Kg<br/>
  filament force: <span data-bind="text: force"></span> <br/>
  filament moved: <span data-bind="text: odometry"></span> rpm
</div>
